@use '../../../presets' as *;
@use '../../../mixins' as *;


.posts {
  margin-top: 100px;
  margin-bottom: 70px;
}

.posts-container {
  @extend %container;
}

.posts-item {
  display: grid;
  grid-template-areas:
    "b1 b1 b2 b3"
    "b4 b5 b6 b6";
  grid-template-columns: repeat(4, 1fr);
  gap: $gap;
}



.post-action {

  display: flex;

  margin-top: $gap;

  align-items: center;
  justify-content: center;

  @include sm-min {
    margin-bottom: $gap-lg;
  }
}