@use '../../../presets' as *;
@use '../../../mixins' as *;



.post-item__block {
  height: 100%;
  background-color: #eeeeee;


  &--link {
    overflow: hidden;
    display: grid;
    grid-template-rows: 300px 1fr;
    height: 100%;

  }

  &--image {
    background-position: center;
    background-size: cover;
  }

  &--title {
    display: grid;
    align-content: center;
    text-align: center;
    font-family: $font-header;
    color: $color-gray;
    padding: $gap;

    p {
      margin: 16px 0;
      font-size: 1rem;
      line-height: 1.15em;
      font-family: $font-main;
    }

    h3 {
      font-size: 1.125rem;
      letter-spacing: 0.05em;
      line-height: 1.15em;
    }
  }
}

.post-item__block:nth-of-type(1) {
  grid-area: b1;
}

.post-item__block:nth-of-type(2) {
  grid-area: b2;
}

.post-item__block:nth-of-type(3) {
  grid-area: b3;
}

.post-item__block:nth-of-type(4) {
  grid-area: b4;
}

.post-item__block:nth-of-type(5) {
  grid-area: b5;
}

.post-item__block:nth-of-type(6) {
  grid-area: b6;
}