@use "../../../presets" as *;
@use "../../../mixins" as *;


.posts-title {
  margin-bottom: 48px;

  letter-spacing: 0.1em;

  color: $color-primary;

  font-family: $font-header;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2em;

  @include lg-md {
    margin-bottom: 2.625rem;

    font-size: 2rem;
  }
  @include md-sm {
    margin-bottom: 2.25rem;

    font-size: 1.5rem;
  }
  @include sm {
    margin-bottom: 2.25rem;

    text-align: center;

    font-size: 1.5rem;
  }
}
