@use "../../presets" as *;
@use "../../mixins" as *;


.footer {
  padding: 50px 20px 70px;

  background-color: $color-primary;

  &-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    height: 100%;

    @extend %container;
  }
}
