@use "../../presets" as *;
@use "../../mixins" as *;




.footer-content {
  display: flex;
  align-items: center;
  flex-direction: column;

  letter-spacing: 0.05em;

  color: $color-gray-light;

  font-weight: 700;

  &__text {
    display: block;

    &--top {
      margin-right: -0.5em;

      letter-spacing: 0.33em;

      color: $color-gray;

      font-weight: 100;
    }
  }
}
