@use '../../presets' as *;
@use '../../mixins' as *;



.footer-icons {
  position: relative;
  margin-bottom: 40px;
  display: flex;

  &__link {
    display: block;
    padding: $gap-sm;
  }
}

.footer-icons::after {
  content: "";
  position: absolute;
  left: calc(50% - 37.5px);
  bottom: -20px;
  width: 75px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.1);
}

.fab {
  font-size: 2.25rem;
  transition: color 0.5s;

  &:hover {
    color: $color-accent;
  }
}