@use '../../../presets' as *;
@use '../../../mixins' as *;


.content-about__text {
  min-width: calc(100% - 820px);
  padding-left: 60px;
  padding-right: 20px;
  padding-top: $gap-x2;

}

.main-content {
  font-size: 1.125rem;
  letter-spacing: 0.055em;
  line-height: 1.333em;
  font-weight: 400;
  font-family: $font-header;
  color: $color-gray;
}