@use '../../../presets' as *;
@use '../../../mixins' as *;




.content-about {
  grid-area: "ca";
  min-height: calc(100vh - 120px);
  display: flex;
  min-width: 100vw;
  background-color: #e5e5e5;
}