@use '../../../presets' as *;
@use '../../../mixins' as *;


.content-form {
  grid-area: "cf";
  height: 120px;
  background-color: $color-primary;
  display: flex;

  &__container {
    @extend %container;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}