@use '../../../presets' as *;
@use '../../../mixins' as *;



.content-about__image {
  width: 271px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}