@use '../../../presets' as *;
@use '../../../mixins' as *;



.content-about__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &--lamp {
    max-height: 480px;

  }
}