@use '../../../presets' as *;
@use '../../../mixins' as *;


.content-about__text {
  margin: 0;
}

.main-content {
  font-size: 1.125rem;
  letter-spacing: 0.049em;
  line-height: 1.15;
  font-family: $font-main;
  color: $color-gray;
  font-weight: 400;
}

p:first-of-type {
  margin-top: -5px;
  position: relative;
}

.p-about:first-of-type::after {
  right: -50px;
  content: "";
  position: absolute;
  top: 0;
  width: 2px;
  height: 200px;
  background-color: rgba(99, 117, 136, 0.1);
}

p:last-of-type {
  margin: 0;
}