@use "../../presets" as *;
@use "../../mixins" as *;

.header-logo {
  text-align: center;
  letter-spacing: 0.22em;

  color: $color-light;

  font-size: 1.5rem;
  font-weight: 400;

  &__link {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    padding: $gap $gap $gap 0;
  }

  &__accent {
    display: inline-block;

    margin-right: 4px;
    padding: 14px 1px 13px 5px;

    border: 3px solid $color-highlight;

    line-height: 1.15em;
  }
}
