@use '../presets' as *;
@use '../mixins' as *;

.btn {
    display: flex;
    height: 60px;
    padding: .5em 1em;
    transition: background-color .5s;
    letter-spacing: .1em;
    align-items: center;
    justify-content: center;

    @include lg-min {
        font-size: 1.125rem;
    }

    &--light {
        width: 250px;
        border: 2px solid $color-light;
        background-color: rgba($color-light, .1);

        @include lg-min {
            width: 250px;
            height: 60px;
        }

        @include lg-md {
            width: 200px;
            height: 50px;
        }

        @include md-sm {
            width: 170px;
            height: 40px;
        }

        @include sm {
            width: 170px;
            height: 40px;
        }
    }

    &--primary {
        width: 350px;
        font-size: 1.125rem;
        border: 2px solid $color-primary;
        background-color: rgb($color-primary, .8);

        @include sm {
            width: 100%;
        }
    }

    &:hover,
    &:focus {
        background-color: $color-accent;
    }
}